@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

* {
  -webkit-tap-highlight-color: transparent;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea, a {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  font: inherit;
  font-weight: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 6px;
}

::-webkit-scrollbar-track:hover {
  background: #ddd;
  border-radius: 6px;
}

.container {
  font-size: 18px;
  padding: 1.25em;
  gap: 2.5em;
  line-height: 1.25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.content-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.5em;
}

.main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25em;
}
.main-info__image {
  padding: 0.625em;
  border: 1px solid #0051ca;
}
.main-info__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.9375em;
}
.main-info__name {
  font-size: 2em;
  line-height: 1.2em;
  font-weight: 700;
}
.main-info__age {
  font-size: 1.2em;
}
.main-info__profession {
  font-size: 1.6em;
  line-height: 1.2em;
  font-weight: 700;
  color: #0051ca;
}
.main-info__city {
  font-size: 1.2em;
  color: #0051ca;
}

.about__title {
  margin-bottom: 0.625em;
  font-size: 1.2em;
  color: #0051ca;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625em;
}
.list__title {
  font-size: 1.2em;
  color: #0051ca;
}
.list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625em;
  line-height: 1.4em;
}

.content-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.5em;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25em;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5em;
}
.project__title {
  font-size: 1.2em;
  color: #00ba85;
}
.project__link {
  position: relative;
  padding-left: 0.625em;
}
.project__link::before {
  content: "";
  position: absolute;
  width: 0.25em;
  top: 50%;
  left: 0em;
  height: 0.25em;
  border-radius: 50%;
  background: #000;
}
.project__image-container {
  width: 100%;
}
.project__image {
  width: 100%;
}